@import url('https://fonts.googleapis.com/css?family=Barlow:100,300,400,500,600,700,800,900&display=swap');

* {
  font-family: 'Barlow', sans-serif;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 24px !important;
  font-weight: 900;
}

h2 {
  font-size: 18px !important;
  font-weight: 400;
}

h3 {
  font-size: 14px !important;
  font-weight: 400;
}

h4 {
  font-size: 13px !important;
  font-weight: 900;
}

h5 {
  font-size: 12px !important;
  font-weight: 900;
}

h6 {
  font-size: 11px !important;
  font-weight: 600;
}

 /*-----------------------------*/


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgba(22, 22, 37, 0.24) !important;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 33rem;
    @media only screen and (max-width: 1056px) {
      flex-direction: column;
      width: 100%;
      min-height: 50vh;
    }
  }
  &__left {
    background: rgba(0, 128, 0, 0.49);
    & > * {
      align-self: center;
    }
  }

  &__right {
    background: rgba(0, 128, 98, 0.49);
    .map {
      &__explorer {
        height: 100vh;
        width: 100%;
        @media only screen and (max-width: 1056px) {
          min-height: 300px;
          height: 50vh;
        }
      }
    }
  }
}
